#table-controls
#table-placeholder
-# %table#tbl.table.stripe.display{"data-toggle" => "table"}
  -# %thead
  -#   - @titles.each do |col|
  -#     %th{"data-field" => col} =col
  -# %tfoot
  -#   - @titles.each do |col|
  -#     %th =col

:javascript
  $.get( "index.json", function( data ) {
      drawTable( data );
    });
