%table.table.table-striped.table-condensed{"data-toggle" => "table"}
  %thead
    %tr
      - @titles[1..-1].each do |col| # [1..-1] hides :order column
        %th{"data-field" => col, "data-sortable" => "true"}= col
  - @apps.each do |row|
    %tr
      - row[1..-1].each do |data|
        %td= data
