#table-placeholder

:javascript
  if (typeof gon !== 'undefined') { var refsFromMap = htmlEscape(gon.refs); }
  $.getJSON("index.json", {refs: refsFromMap}, function(data) {
    drawTable(data, function() {
      var table = $('#tbl').DataTable();
      table.column(0).visible(false);
    });
  });
