%table#tbl.loadable.table.table-striped.table-condensed{"data-toggle" => "table"}
  %thead
    - @titles.each do |col|
      %th{"data-field" => col} =col
  %tfoot
    - @titles.each do |col|
      %th =col

:javascript
  $.get( "index.json", function( data ) {
      drawTable( data, function() {
        $('#tbl').removeClass('loadable');
      });
    });
