.map_container
  #mapDiv.map_canvas
  #toolbarContainer{"style" => "float:right;margin-right: 100px"}

:javascript
  $(function() {
    GetMap(gon.locations, gon.colours, gon.letters, gon.refs, gon.descrips);
  });
