.container-fluid
  .col-md-4.col-md-offset-4.column
    %h1 Subscribe
    = form_tag '/charge', method: :post, class: :form, role: :form do
      %span
        = label_tag :annual_subscription_cost, :class => 'control-label'
        £512.50
      %p
        = javascript_include_tag "https://checkout.stripe.com/v2/checkout.js",
          :class => 'stripe-button',
          :"data-key" => ENV['STRIPE_PUBLISHABLE_KEY'],
          :"data-description" => 'annual subscription',
          :"data-currency" => 'GBP',
          :"data-amount" => "51250"
