-#- content_for(:head) do
  -# =javascript_include_tag 'https://www.bing.com/api/maps/mapcontrol?callback=GetBingMap', :async => 'defer'
  -# =javascript_include_tag 'get_bing_map'
.map_container
  #mapDiv.map_canvas
  #toolbarContainer{"style" => "float:right"}
=javascript_include_tag 'get_google_map'
=javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCcqaso5O8mOrViohlCe8Bp29FBMz8W24k&libraries=drawing&callback=getGoogleMap'
-#=javascript_include_tag 'location_finder'

-#:javascript
  -#$('#search-string').on('click', findLocations);
