!!!
%html{:lang => "en-GB"}
  %head
    %title jerseypropertyservices.com
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    =csrf_meta_tags
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'application'
    =javascript_include_tag 'https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1'
    =include_gon.html_safe
  %body
    =partial "layouts/navigation"
    .container-fluid
      - if flash[:notice]
        #flash.row
          .span9.offset3.alert.alert-success
            = flash[:notice] # uses jquery
          :javascript
            $(function(){
              $("#flash").fadeOut(5000);
            });
    .container-fluid.site
      = yield
