!!!
%html{:lang => "en-GB"}
  %head
    %title jerseypropertyservices.com
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'application'

    =stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'
    =stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css'
    =stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.css'
    =stylesheet_link_tag '//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css'

  %body
    .container-fluid
      - if flash[:notice]
        #flash.row
          .span9.offset3.alert.alert-success
            = flash[:notice] # uses jquery
          :javascript
            $(function(){
              $("#flash").fadeOut(5000);
            });
      .row
        =partial "layouts/navigation"
      .row
        .span9.offset3.site
          = yield
