!!!
%html{:lang => "en-GB"}
  %head
    %title jerseypropertyservices.com
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'application'
  %body
    -# .container-fluid
      -# - if flash[:notice]
      -#   #flash.row
      -#     .span9.offset3.alert.alert-success
      -#       = flash[:notice] # uses jquery
      -#     :javascript
      -#       $(function(){
      -#         $("#flash").fadeOut(5000);
      -#       });
      -# .row
    =partial "layouts/navigation"
    .container-fluid.site
      = yield
